@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;600&family=Roboto+Serif:wght@100&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* Desktop */
    
    width: 100%;
    height: 100%;
    
    background: #FAF7FD;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile img {
    /* Profile image */

    border-radius: 50%;
    border: 2px solid #BB99DD;
}

.username {
    /* @instagram */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #BB99DD;
}

.links .link {
    /* Rectangles */
    
    width: 326px;
    height: 49px;

    border: 2px solid #BB99DD;
    border-radius: 4px;
    
    /* Links */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    text-transform: uppercase;

    color: #BB99DD;
}
