@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;600&family=Roboto+Serif:wght@100&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    /* Desktop */
    
    width: 100%;
    height: 100%;
    
    background: #FAF7FD;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile img {
    /* Profile image */

    border-radius: 50%;
    border: 2px solid #BB99DD;
}

.username {
    /* @instagram */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;

    color: #BB99DD;
}

.links .link {
    /* Rectangles */
    
    position: absolute;
    width: 326px;
    height: 49px;
    left: 556px;

    border: 2px solid #BB99DD;
    border-radius: 4px;
    
    justify-content: center;
    
    /* Links */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #BB99DD;
}

.links .link:nth-child(1) {
    /* linkedin */
    top: 498px;
}

.links .link:nth-child(2) {
    /* github */
    top: 563px;
}

.links .link:nth-child(3) {
    /* rocketseat */
    top: 628px;
}

.links .link:nth-child(4) {
    /*  */
    top: 693px;
}

.icons .icon{
    position: absolute;
    top: 798px;
}

.icons .icon:nth-child(1) {
    /* twitter */
    left: 601px;
}

.icons .icon:nth-child(2) {
    /* twitch */
    left: 654px;
}

.icons .icon:nth-child(3) {
    /* instagram */
    left: 707px;
}

.icons .icon:nth-child(4) {
    /* linkedin */
    left: 760px;
}

.icons .icon:nth-child(5) {
    /* github */
    left: 813px;
}