@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@300;600&family=Roboto+Serif:wght@100&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, .profile, .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 100vh;
    
    background: #FAF7FD;
}

.profile {
    width: 213px;
    height: 213px;

    border: 2px solid #BB99DD;
    border-radius: 50%;
}

.profile img { 
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.username, .link {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

    color: #BB99DD;
}

.username {
    font-weight: 300;

    margin-top: 15px;
    margin-bottom: 33px;
}

.link {
    width: 326px;
    height: 49px;

    border: 2px solid #BB99DD;
    border-radius: 4px;

    font-weight: 600;
    text-transform: uppercase;

    margin-bottom: 16px;
}

.icons{
    display: flex;
    gap: 29px;

    margin-top: 52px;
}
